* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body {
    background-color: #d5d9db;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 240px;
}

header img {
    height: 36px;
    margin-left: 12px;
}

header h1 {
    font-size: 38px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: inline;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 20px;
    background-color: #fff;
    border: none;
    padding: 8px;
    margin-left: 12px;
}

form button {
    background-color: #95aed3;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-top: 26px;
    margin-left: 320px;
    text-transform: uppercase;
}

button:hover {
    background-color: #184385;
}

table {
    margin-top: 36px;
    width: 100%;
}

table th {
    border-bottom: 2px solid #4d4c4c;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

table td {
    padding-top: 10px;
    font-size: 22px;
    text-align: center;
}
